@import "./base/reset.scss";
@import "./base/vars.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: $md) {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (min-width: $lg) {
    max-width: 960px;
    padding-left: 30px;
    padding-right: 30px;
  }
}