/**
Default styles
**/

:root {
  --black: #000;
  --white: #fff;
  --gray: #f2f2f2;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
}

/**
Variables for mobile first media queries
**/

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;